<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="sim" default="false" />
  <arg name="mapping" default="true" />
  <arg name="launch_controller" default="true" />

  <include file="$(find mobile_robot_nav)/launch/arena.launch" if="$(arg sim)" />

  <node pkg="mobile_robot_nav" type="exploring_controller.py" name="exploring_controller_node" output="screen" if="$(arg launch_controller)" />

  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" if="$(arg mapping)" />

  <node pkg="map_server" type="map_saver" name="map_saver" args="-f $(find mobile_robot_nav)/maps/explore_map" output="screen" if = "$(arg mapping)" />

</launch>
